body{
	margin: 0;
	background-color: #f0f0f0;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
}
.navbar-info{
	background-color: #00b0ff;
}
.navbar-info:after{
	display: block;
	visibility: hidden;
	clear: both;
}
.navbar-info li{
	float: left;
	padding: 12px 20px;
}
.navbar-info li a{
	color: #FFF;
}
.navbar-info li.active{
	background-color: rgba(255, 255, 255, 0.37);
}

.v-img-text li{
    width: 300px;
    float: left;
    background-color: #FFF;
    padding: 12px;
    margin: 5px 5px;
}
.v-img-text img{
	width: 98%;
	padding: 0 1%;
	height: 100px;
	object-fit: contain;
}
