body{
	margin: 0;
	background-color: #f0f0f0;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
p{
	margin: 0;
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.nav-default{
	width: 80%;
	margin: 0 auto;
}

.navbar-info{
	background-color: #00b0ff;
}
.navbar-info:after{
	display: block;
	visibility: hidden;
	clear: both;
}
.navbar-info li{
	float: left;
	padding: 12px 20px;
}
.navbar-info li a{
	color: #FFF;
}
.navbar-info li.active{
	background-color: rgba(255, 255, 255, 0.37);
}

.row{
	background-color: #FFF;
}

.v-img-text li{
	width: 300px;
	float: left;
	background-color: #FFF;
	margin: 5px 5px;
	box-shadow: 4px 4px 10px #c5c5c5;
}
.v-img-text a{
	display: inline-block;
	position: relative;
	width: 100%;
}
.v-img-text img{
	width: 98%;
	padding: 0 1%;
	height: 200px;
	object-fit: contain;
}
.v-img-text p.title{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.75);
	padding: 12px 15px;
	color: #FFF;
	opacity: 0;
}
.v-img-text li:hover p.title{
	transition: opacity 0.5s;
	opacity: 1;
}
