.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
.step{
	text-align: center;
	position: relative;
	width: 100px;
	float: left;
}
.step span{
	background-color: #F0F0F0;
	width: 30px;
	line-height: 30px;
	display: inline-block;
	border-radius: 50%;
	position: relative;
	z-index: 1;
}
.step::after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 3px;
	background-color: #F0F0F0;
	position: absolute;
	left: 0;
	top: 21%;
}
.step.active::after{
	background-color: #5cb85c;
}
.step.active span{
	background-color: #5cb85c;
	color: #FFF;
}
.step-form{
	display: none;
}
.step-form.active{
	display: block;
}