body{
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
.clearfix{
	zoom:1;
}
nav ul{
	list-style: none;
	background-color: #35cef9;
}
nav li{
	float: left;
	margin-right: 20px;
	line-height: 50px;
	color: #FFF;
}
nav a{
	color: #FFF;
}