div{
	margin:0;border:0;padding:0;
}
p{
	margin: 0;
}
#navTab ul {
	list-style: none;
	width: 300px;
	padding-left: 0;
	margin: 0;
}
#navTab ul li{
    float: left;
    padding: 10px 0;
    width: 33%;
    text-align: center;
    cursor: pointer;
}
#navTab ul li:hover{
    font-weight: bold;
    color: #575757;
}
#navTab ul li.active{
	background-color: #00a4ff;
	color: #FFF;
    animation: tabNav 0.5s ease-in;
    -webkit-animation:tabNav 0.5s ease-in;/*Safiri 和 Chrome*/
}
.itemPage{
	width: 100%;
	display: none;
}
.itemPage.active{
	display: block;
	background-color: #00a4ff;
	color: #FFF;
	width: 300px;
	padding: 15px 10px;
}

@keyframes tabNav{
	from{
		background-color: transparent;
		color: #000;
	}
	to{
		background-color: #00a4ff;
		color: #FFF;
	}
}

@-webkit-keyframes tabNav{
	from{
		background-color: transparent;
		color: #000;
	}
	to{
		background-color: #00a4ff;
		color: #FFF;
	}
}

@-moz-keyframes tabNav{
	from{
		background-color: transparent;
		color: #000;
	}
	to{
		background-color: #00a4ff;
		color: #FFF;
	}
}

@-o-keyframes tabNav{
	from{
		background-color: transparent;
		color: #000;
	}
	to{
		background-color: #00a4ff;
		color: #FFF;
	}
}